:root {
  --width-content: 40rem;
}

button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

legend {
  font-size: 150%;
}

legend:hover {
  color: red;
}

*, button {
  cursor: url(pointer.png), auto;
}

/** MODAL **/
.modal_background {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0;
  border-radius: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal_content {
  background-color: white;
  border-radius: 6px;
  padding: 0.5rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
  /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
  box-shadow: rgba(6, 61, 120, 0.4) 5px 5px, rgba(6, 61, 120, 0.3) 10px 10px, rgba(6, 61, 120, 0.2) 15px 15px, rgba(6, 61, 120, 0.1) 20px 20px, rgba(6, 61, 120, 0.05) 25px 25px;
}

/*** LIL GUY ***/

.drunk {
  filter: blur(4px);
}

.lilguy:hover {
  color: green;
  font-weight: bold;
  text-shadow: purple 1px 1px;
}

.lilguy:hover:after {
  text-shadow: none;
  background: linear-gradient(to right, #60aa20, #4B350C, #60aa20, purple, #60aa20, #4B350C, #60aa20);
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 5s ease-in-out infinite;
  background-size: 400% 100%;
  content: " <(I THINK IM GOING TO BE SICK...)";
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}